{% extends "template.html" %}
{% block content %}
    <main>
        <section id="course-team">
            <h1>Course Team</h1>
            
            <div class="staff">
                <h3>Instructor</h3>
                <p><strong>Purva Gawde</strong> (Mon 9 to 11)</p>
                <p>OH: Tuesday 12 to 1</p>
            </div>
            
            <div class="staff">
                <h3>TA and OHs</h3>
                <ul>
                    <li><strong>Joshua Concon:</strong> Wednesday 15:00-16:00</li>
                    <li><strong>Pourya Moghadam:</strong> Monday (11:00 – 12:00) or (13:00 – 14:00)</li>
                    <li><strong>Danny Chen:</strong> Friday 12:00 to 13:00</li>
                    <li><strong>Nisha Rajendran:</strong> Wednesday 10:00am - 11:00am</li>
                    <li><strong>Navinn Ravindaran:</strong> Friday 11 to 12</li>
                </ul>
            </div>
            
            <div class="tutorials">
                <h3>TA and Tutorials</h3>
                <div class="tutorial">
                    <p><strong>TUT0001</strong></p>
                    <p>Day: MO</p>
                    <p>Time: 12:00 - 13:00</p>
                    <p>TA: Pourya Moghadam</p>
                </div>
                <div class="tutorial">
                    <p><strong>TUT0002</strong></p>
                    <p>Day: WE</p>
                    <p>Time: 11:00 - 12:00</p>
                    <p>TA: Nisha Rajendran</p>
                </div>
                <div class="tutorial">
                    <p><strong>TUT0003</strong></p>
                    <p>Day: WE</p>
                    <p>Time: 14:00 - 15:00</p>
                    <p>TA: Joshua Concon</p>
                </div>
                <div class="tutorial">
                    <p><strong>TUT0005</strong></p>
                    <p>Day: FR</p>
                    <p>Time: 10:00 - 11:00</p>
                    <p>TA: Navinn Ravindaran</p>
                </div>
                <div class="tutorial">
                    <p><strong>TUT0006</strong></p>
                    <p>Day: FR</p>
                    <p>Time: 13:00 - 14:00</p>
                    <p>TA: Danny Chen</p>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}
