{% extends "template.html" %}
{% block content %}
    <main>
        <h1>Lectures</h1>
        <section id="week1" class="week">
            <h2>Week 1 Materials</h2>
            <div class="table">
                <div class="row header">
                    <div class="cell">Topic</div>
                    <div class="cell">Slides</div>
                    <div class="cell">Worksheets</div>
                    <div class="cell">Additional Readings</div>
                </div>
                <div class="row">
                    <div class="cell">Introduction</div>
                    <div class="cell"><a href="{{ url_for('static', filename='resources/dummypdf.pdf') }}" target="_blank">W1-Slides</a></div>
                    <div class="cell"><a href="{{ url_for('static', filename='resources/dummypdf.pdf') }}" target="_blank">W1-Worksheet</a></div>
                    <div class="cell"><a href="{{ url_for('static', filename='resources/dummypdf.pdf') }}" target="_blank">W1-Readings</a></div>
                </div>
            </div>
        </section>

        <section id="week2" class="week">
            <h2>Week 2 Materials</h2>
            <div class="table">
                <div class="row header">
                    <div class="cell">Topic</div>
                    <div class="cell">Slides</div>
                    <div class="cell">Worksheets</div>
                    <div class="cell">Additional Readings</div>
                </div>
                <div class="row">
                    <div class="cell">Schema Diagrams</div>
                    <div class="cell"><a href="{{ url_for('static', filename='resources/dummypdf.pdf') }}" target="_blank">W2-Slides</a></div>
                    <div class="cell"><a href="{{ url_for('static', filename='resources/dummypdf.pdf') }}" target="_blank">W2-Worksheet</a></div>
                    <div class="cell"><a href="{{ url_for('static', filename='resources/dummypdf.pdf') }}" target="_blank">W2-Readings</a></div>
                </div>
            </div>
        </section>

        <section id="week3" class="week">
            <h2>Week 3 Materials</h2>
            <div class="table">
                <div class="row header">
                    <div class="cell">Topic</div>
                    <div class="cell">Slides</div>
                    <div class="cell">Worksheets</div>
                    <div class="cell">Additional Readings</div>
                </div>
                <div class="row">
                    <div class="cell">Relational Algebra</div>
                    <div class="cell"><a href="{{ url_for('static', filename='resources/dummypdf.pdf') }}" target="_blank">W3-lides</a></div>
                    <div class="cell"><a href="{{ url_for('static', filename='resources/dummypdf.pdf') }}" target="_blank">W3-Worksheet</a></div>
                    <div class="cell"><a href="{{ url_for('static', filename='resources/dummypdf.pdf') }}" target="_blank">W3-Readings</a></div>
                </div>
            </div>
        </section>

        <section id="week4" class="week">
            <h2>Week 4 Materials</h2>
            <div class="table">
                <div class="row header">
                    <div class="cell">Topic</div>
                    <div class="cell">Slides</div>
                    <div class="cell">Worksheets</div>
                    <div class="cell">Additional Readings</div>
                </div>
                <div class="row">
                    <div class="cell">SQL and MySQL</div>
                    <div class="cell"><a href="{{ url_for('static', filename='resources/dummypdf.pdf') }}" target="_blank">W4-Slides</a></div>
                    <div class="cell"><a href="{{ url_for('static', filename='resources/dummypdf.pdf') }}" target="_blank">W4-Worksheet</a></div>
                    <div class="cell"><a href="{{ url_for('static', filename='resources/dummypdf.pdf') }}" target="_blank">W4-Readings</a></div>
                </div>
            </div>
        </section>

        <section id="week5" class="week">
            <h2>Week 5 Materials</h2>
            <div class="table">
                <div class="row header">
                    <div class="cell">Topic</div>
                    <div class="cell">Slides</div>
                    <div class="cell">Worksheets</div>
                    <div class="cell">Additional Readings</div>
                </div>
                <div class="row">
                    <div class="cell">MySQL Queries, Creating and Editing Tables</div>
                    <div class="cell"><a href="{{ url_for('static', filename='resources/dummypdf.pdf') }}" target="_blank">W5-Slides</a></div>
                    <div class="cell"><a href="{{ url_for('static', filename='resources/dummypdf.pdf') }}" target="_blank">W5-Worksheet</a></div>
                    <div class="cell"><a href="{{ url_for('static', filename='resources/dummypdf.pdf') }}" target="_blank">W5-Readings</a></div>
                </div>
            </div>
        </section>

        <section id="week6" class="week">
            <h2>Week 6 Materials</h2>
            <div class="table">
                <div class="row header">
                    <div class="cell">Topic</div>
                    <div class="cell">Slides</div>
                    <div class="cell">Worksheets</div>
                    <div class="cell">Additional Readings</div>
                </div>
                <div class="row">
                    <div class="cell">MySQL Outer Joins, Views, NULL, string functions, HTML</div>
                    <div class="cell"><a href="{{ url_for('static', filename='resources/dummypdf.pdf') }}" target="_blank">W6-Slides</a></div>
                    <div class="cell"><a href="{{ url_for('static', filename='resources/dummypdf.pdf') }}" target="_blank">W6-Worksheet</a></div>
                    <div class="cell"><a href="{{ url_for('static', filename='resources/dummypdf.pdf') }}" target="_blank">W6-Readings</a></div>
                </div>
            </div>
        </section>

        <section id="week7" class="week">
            <h2>Week 7 Materials</h2>
            <div class="table">
                <div class="row header">
                    <div class="cell">Topic</div>
                    <div class="cell">Slides</div>
                    <div class="cell">Worksheets</div>
                    <div class="cell">Additional Readings</div>
                </div>
                <div class="row">
                    <div class="cell">HTML, CSS</div>
                    <div class="cell"><a href="{{ url_for('static', filename='resources/dummypdf.pdf') }}" target="_blank">W7-Slides</a></div>
                    <div class="cell"><a href="{{ url_for('static', filename='resources/dummypdf.pdf') }}" target="_blank">W7-Worksheet</a></div>
                    <div class="cell"><a href="{{ url_for('static', filename='resources/dummypdf.pdf') }}" target="_blank">W7-Readings</a></div>
                </div>
            </div>
        </section>

        <section id="week8" class="week">
            <h2>Week 8 Materials</h2>
            <div class="table">
                <div class="row header">
                    <div class="cell">Topic</div>
                    <div class="cell">Slides</div>
                    <div class="cell">Worksheets</div>
                    <div class="cell">Additional Readings</div>
                </div>
                <div class="row">
                    <div class="cell">PHP</div>
                    <div class="cell"><a href="{{ url_for('static', filename='resources/dummypdf.pdf') }}" target="_blank">W8-Slides</a></div>
                    <div class="cell"><a href="{{ url_for('static', filename='resources/dummypdf.pdf') }}" target="_blank">W8-Worksheet</a></div>
                    <div class="cell"><a href="{{ url_for('static', filename='resources/dummypdf.pdf') }}" target="_blank">W8-Readings</a></div>
                </div>
            </div>
        </section>

        <section id="week9" class="week">
            <h2>Week 9 Materials</h2>
            <div class="table">
                <div class="row header">
                    <div class="cell">Topic</div>
                    <div class="cell">Slides</div>
                    <div class="cell">Worksheets</div>
                    <div class="cell">Additional Readings</div>
                </div>
                <div class="row">
                    <div class="cell">PHP and SQL</div>
                    <div class="cell"><a href="{{ url_for('static', filename='resources/dummypdf.pdf') }}" target="_blank">W9-Slides</a></div>
                    <div class="cell"><a href="{{ url_for('static', filename='resources/dummypdf.pdf') }}" target="_blank">W9-Worksheet</a></div>
                    <div class="cell"><a href="{{ url_for('static', filename='resources/dummypdf.pdf') }}" target="_blank">W9-Readings</a></div>
                </div>
            </div>
        </section>

        <section id="week10" class="week">
            <h2>Week 10 Materials</h2>
            <div class="table">
                <div class="row header">
                    <div class="cell">Topic</div>
                    <div class="cell">Slides</div>
                    <div class="cell">Worksheets</div>
                    <div class="cell">Additional Readings</div>
                </div>
                <div class="row">
                    <div class="cell">JavaScript and jQuery</div>
                    <div class="cell"><a href="{{ url_for('static', filename='resources/dummypdf.pdf') }}" target="_blank">W10-Slides</a></div>
                    <div class="cell"><a href="{{ url_for('static', filename='resources/dummypdf.pdf') }}" target="_blank">W10-Worksheet</a></div>
                    <div class="cell"><a href="{{ url_for('static', filename='resources/dummypdf.pdf') }}" target="_blank">W10-Readings</a></div>
                </div>
            </div>
        </section>

        <section id="week11" class="week">
            <h2>Week 11 Materials</h2>
            <div class="table">
                <div class="row header">
                    <div class="cell">Topic</div>
                    <div class="cell">Slides</div>
                    <div class="cell">Worksheets</div>
                    <div class="cell">Additional Readings</div>
                </div>
                <div class="row">
                    <div class="cell">jQuery, AJAX, JSON</div>
                    <div class="cell"><a href="{{ url_for('static', filename='resources/dummypdf.pdf') }}" target="_blank">W11-Slides</a></div>
                    <div class="cell"><a href="{{ url_for('static', filename='resources/dummypdf.pdf') }}" target="_blank">W11-Worksheet</a></div>
                    <div class="cell"><a href="{{ url_for('static', filename='resources/dummypdf.pdf') }}" target="_blank">W11-Readings</a></div>
                </div>
            </div>
        </section>

        <section id="week12" class="week">
            <h2>Week 12 Materials</h2>
            <div class="table">
                <div class="row header">
                    <div class="cell">Topic</div>
                    <div class="cell">Slides</div>
                    <div class="cell">Worksheets</div>
                    <div class="cell">Additional Readings</div>
                </div>
                <div class="row">
                    <div class="cell">Last Year's final</div>
                    <div class="cell"><a href="{{ url_for('static', filename='resources/dummypdf.pdf') }}" target="_blank">W12-Slides</a></div>
                    <div class="cell"><a href="{{ url_for('static', filename='resources/dummypdf.pdf') }}" target="_blank">W12-Worksheet</a></div>
                    <div class="cell"><a href="{{ url_for('static', filename='resources/dummypdf.pdf') }}" target="_blank">W12-Readings</a></div>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}
